<div id="homeDiv" ng-controller="HomeController as controller">
    <!-- Mapa de nodos -->
    <!-- <div>
        <ul class="nav nav-tabs">
            <li ng-class="[{active: controller.visualizeAs == 'graph'}]" ng-click="controller.visualizeChange('graph')" ><a>Ver como Force directed graph</a></li>
            <li ng-class="[{active: controller.visualizeAs == 'map'}]" ng-click="controller.visualizeChange('map')" ><a>Ver como Mapa Conceptual</a></li>
            <li ng-class="[{active: controller.visualizeAs == 'table'}]" ng-click="controller.visualizeChange('table')"><a>Ver como Tabla</a></li>
        </ul>
    </div>
    <div ng-show="controller.visualizeAs == 'graph'">
        <div style="margin: 5px;"> 
            <span class="badge" style="background-color: rgb(174, 199, 232);">&nbsp;</span> Facultad &nbsp;&nbsp;&nbsp;&nbsp;
            <span class="badge" style="background-color: rgb(31, 119, 180);">&nbsp;</span> Tipo &nbsp;&nbsp;&nbsp;&nbsp;
            <span class="badge" style="background-color: rgb(255, 127, 14);">&nbsp;</span> Tecnologia &nbsp;&nbsp;&nbsp;&nbsp;
            <span class="badge" style="background-color: rgb(255, 187, 120);">&nbsp;</span> Patente &nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="row">
            <div class="col-md-9 col-xs-12">
                <nvd3 options="options" data="data" class="with-3d-shadow with-transitions"></nvd3>
            </div>
            <div ng-show="controller.showLegend" style="z-index: 1000; background-color: #eee; margin-top: 10px; border: solid 1px #ccc;" class="col-md-3 col-xs-12">
                <h4>{{controller.detail.name}}</h4>
                <p>{{controller.detail.description}}</p>
                <md-button ng-show="controller.detail.$id != null" ng-click="controller.showDetail(controller.detail)" md-no-ink class="md-primary pull-right">Ver detalle </md-button>
            </div>
        </div>
    </div>
    <div ng-show="controller.visualizeAs == 'map'">
        <img src="img/mapa_conceptual.svg" style="width: auto; max-width=960px;" usemap="#mapaconceptual"/>
        <map name="mapaconceptual">
            <area shape="rect" coords="20,20,220,250" ng-click="controller.showTechnologiesList('Energía y combustibles')" title="Energia y combustibles">
            <area shape="rect" coords="220,20,440,250" ng-click="controller.showTechnologiesList('TICs')" title="TIC's">
            <area shape="rect" coords="440,20,660,250" ng-click="controller.showTechnologiesList('Pulpa y papel')" title="Pulpa y papel">
            <area shape="rect" coords="660,20,880,250" ng-click="controller.showTechnologiesList('Construcción y materiales')" title="Construcción y materiales">
            <area shape="rect" coords="20,270,220,470" ng-click="controller.showTechnologiesList('Maquinaria y procesos industriales')" title="Maquinaria y procesos industriales">
            <area shape="rect" coords="200,270,440,470" ng-click="controller.showTechnologiesList('Tecnologías ambientales')" title="Tecnologías ambientales">
            <area shape="rect" coords="400,270,660,470" ng-click="controller.showTechnologiesList('Salud y bienestar humano')" title="Salud y bienestar humano">
            <area shape="rect" coords="600,270,880,470" ng-click="controller.showTechnologiesList('Agroindustria y alimentación')" title="Agroindustria y alimentación">
        </map>
    </div>
    <div ng-show="controller.visualizeAs == 'table'">
        <md-list flex>
            <md-list-item class="md-3-line" ng-repeat="technology in controller.technologiesArray" >
              <div class="md-list-item-text" layout="column" style="border-left: solid 2px #E71C24; padding-left: 7px; margin: 3px; max-width: 900px;">
                  <h4>{{technology.name}}</h4>
                  <p>{{technology.description}}</p>
                  <div class="md-secondary">
                        <div style="vertical-align: top;">
                          <span ng-show="{{technology['granted-date'] != undefined}}" class="badge" style="background-color: #D51B23;">Patente</span>
                          <span ng-show="{{technology['granted-date'] == undefined}}" class="badge" style="background-color: #D51B23;">Tecnologia</span>
                      </div>
                        <md-button class=" md-icon-button" ng-repeat="document in patent.documents" ng-click="controller.showPDF(document)"><md-icon md-svg-icon="img/file-pdf.svg"></md-icon></md-button>
                  </div>
              </div>
              
            </md-list-item>
        </md-list>
    </div> -->

    <!-- Animation & Effects Scripts -->
    <!-- <script src="js/lib/script.min.js"></script>
    <button class="btn btn-primary" type="button" data-bs-hover-animate="bounce" id="goTopBtn"><i class="material-icons">keyboard_arrow_up</i></button>
    <section id="mainSec" class="section">
        <div class="container d-flex flex-column justify-content-center align-items-center align-content-center" style="height:100%;max-height:100%;">
            <div class="row appLogo">
                <div class="col-12">
                    <div id="mainSecLogo"></div>
                </div>
            </div>
            <div class="row appLogo" style="margin-top:3%;">
                <div class="col-12">
                    <div data-aos="fade-up" data-aos-delay="200" data-aos-once="true" id="mainSecUvLogo"></div>
                </div>
                <div class="col-12 justify-content-end align-items-end align-content-end align-self-end" style="/*max-height:55px;*/"><button class="btn btn-link btn-block arrowBtn" type="button" id="nextBtn"><i class="material-icons" data-bs-hover-animate="bounce" style="font-size:45px;">keyboard_arrow_down</i></button></div>
            </div>
        </div>
    </section>
    <section id="appFooter">
        <div>
            <p class="text-center" style="padding:0;margin:0;">Copyright 2018 / Última Actualización: 15-05-2018<br></p>
        </div>
    </section>
    <section id="aboutSec" class="section">
        <div class="container" style="height:100%;max-height:100%;">
            <div class="row" style="height:100%;">
                <div class="col-12"></div>
            </div>
        </div>
    </section>
    <section class="justify-content-center align-items-center align-content-center" id="contactInfoSec">
        <div id="bottomTopDiv">
            <div class="container">
                <div class="row uvContactInfo">
                    <div class="col d-flex justify-content-center align-self-start col-12 col-xs-12 col-md-auto">
                        <div style="height:159px;width:120px;background-image:url(&quot;http://www.univalle.edu.co/images/logo-footer.png&quot;);background-size:contain;background-repeat:no-repeat;background-position:center;"></div>
                    </div>
                    <div class="col" style="color:rgb(255,255,255);">
                        <p style="/*color:rgb(255,255,255);*/margin:0px;/*font-weight:bold;*/">Universidad del Valle:</p>
                        <p style="/*color:rgb(255,255,255);*/margin:0;">Cali - Colombia</p>
                    </div>
                    <div class="col" style="color:rgb(255,255,255);">
                        <p style="margin:0;">Dirección:</p>
                        <p style="padding:0;margin:0;">Ciudad Universitaria Meléndez <br>Calle 13 # 100-00 <br>Sede San Fernando <br>Calle 4B # 36-00 <br></p>
                    </div>
                    <div class="col" style="color:rgb(255,255,255);">
                        <p style="padding:0;margin:0;">PBX:</p>
                        <p style="padding:0;margin:0;">+57 2 3212100 <br>A.A.25360 <br> <br>Línea Gratuita PQRSD: <br>018000 22 00 21<br></p>
                    </div>
                    <div class="col col-12 col-xs-12 col-md-auto" style="color:rgb(255,255,255);">
                        <p style="padding:0;/*margin:0;*/">Redes Sociales:</p>
                        <ul class="d-flex justify-content-center align-items-center align-content-center mx-auto" style="padding:0;">
                            <li><a href="https://www.facebook.com/universidaddelvalle"><img src="http://www.univalle.edu.co/images/footericons/facebook.png" style="padding:5px;"></a></li>
                            <li><a href="https://www.youtube.com/user/universidaddelvalle1"><img src="http://www.univalle.edu.co/images/footericons/youtube.png" style="padding:5px;"></a></li>
                            <li><a href="https://twitter.com/univallecol"><img src="http://www.univalle.edu.co/images/footericons/twitter.png" style="padding:5px;"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row d-block" style="margin-top:10px;">
                    <div class="col-12" style="color:white;">
                        <p class="text-center" style="padding:0;margin:0;">Institución de educación superior sujeta a inspección y vigilancia por el Ministerio de Educación Nacional<br></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottomBotDiv">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-auto d-flex flex-column">
                        <p class="linkListTittle">La Universidad</p><a class="text-white" href="http://secretariageneral.univalle.edu.co/consejo-superior/">Concejo Superior</a><a class="text-white" href="http://secretariageneral.univalle.edu.co/consejo-academico/">Concejo Académico</a>
                        <a
                            class="text-white" href="http://www.univalle.edu.co/index.php/la-universidad/rectoria">Rectoría</a><a class="text-white" href="http://www.univalle.edu.co/index.php/la-universidad/nuestros-simbolos/himno-univalle">Nuestros símbolos</a><a class="text-white" href="http://www.univalle.edu.co/index.php/la-universidad/acerca-de-univalle/mision">Acerca de Univalle</a>
                            <a
                                class="text-white" href="http://www.univalle.edu.co/index.php/la-universidad/dependencias/vicerrectorias">Dependencias</a><a class="text-white" href="http://museoarqueologico.univalle.edu.co/museo.html">Museos y Colecciones</a><a class="text-white" href="https://www.facebook.com/pg/universidaddelvalle/photos/?tab=photos_albums">Fotos de la Universidad</a>
                                <a
                                    class="text-white" href="http://www.univalle.edu.co/mapas/index.html">Mapa del Campus</a><a class="text-white" href="http://www.univalle.edu.co/index.php/la-universidad/tour-por-la-universidad">Tour por la Universidad</a><a class="text-white" href="http://daca.univalle.edu.co/normatividad.html">Normatividad</a>
                                    <a
                                        class="text-white" href="http://planeacion.univalle.edu.co/plandesarrollo/versiones/7_ProyectoInstitucional.pdf">Proyecto Institucional</a><a class="text-white" href="http://www.univalle.edu.co/la-universidad/horarios-de-atencion">Horarios de atención</a><a class="text-white" href="http://portaldeninos.univalle.edu.co/">Portal de niños</a></div>
                    <div
                        class="col-auto d-flex flex-column">
                        <p class="linkListTittle">Estudia en Univalle</p><a class="text-white" href="http://www.univalle.edu.co/formacion/pregrado">Pregrado</a><a class="text-white" href="http://www.univalle.edu.co/formacion/postgrado">Postgrado</a><a class="text-white" href="http://www.univalle.edu.co/formacion/diplomados">Diplomados</a>
                        <a
                            class="text-white" href="http://www.univalle.edu.co/formacion/cursos-y-talleres">Cursos y Talleres</a>
                </div>
                <div class="col-auto d-flex flex-column">
                    <p class="linkListTittle">Sedes regionales</p><a class="text-white" href="http://tulua.univalle.edu.co/">Tuluá</a><a class="text-white" href="http://buga.univalle.edu.co/">Buga</a><a class="text-white" href="http://univallecaicedonia.edu.co/web/index.html">Caicedonia</a>
                    <a
                        class="text-white" href="http://cartago.univalle.edu.co/">Cartago</a><a class="text-white" href="http://nortedelcauca.univalle.edu.co/">Norte del Cauca</a><a class="text-white" href="http://pacifico.univalle.edu.co/">Pacífico</a><a class="text-white" href="http://palmira.univalle.edu.co/">Palmira</a>
                        <a
                            class="text-white" href="http://yumbo.univalle.edu.co/">Yumbo</a><a class="text-white" href="http://zarzal.univalle.edu.co/WebNueva/index.html">Zarzal</a><a class="text-white" href="http://www.univalle.edu.co/index.php/direccion-de-regionalizacion">Regionalización</a></div>
                <div class="col-auto d-flex flex-column">
                    <p class="linkListTittle">Investigación</p><a class="text-white" href="http://viceinvestigaciones.univalle.edu.co/acerca-de-la-vicerrectoria-de-investigacion">Acerca de la Vicerrectoría de investigaciones</a><a class="text-white" href="http://viceinvestigaciones.univalle.edu.co/institutos-centros-y-grupos">Institutos, Centros y Grupos</a>
                    <a
                        class="text-white" href="http://viceinvestigaciones.univalle.edu.co/convocatorias">Convocatorias</a><a class="text-white" href="http://viceinvestigaciones.univalle.edu.co/universidad-empresa-otri">Universidad - Empresa (OTRI)<br></a><a class="text-white" href="http://viceinvestigaciones.univalle.edu.co/becas">Becas</a>
                        <a
                            class="text-white" href="http://viceinvestigaciones.univalle.edu.co/gestion-de-la-investigacion-y-formacion">Gestión de la investigación y formación</a><a class="text-white" href="http://dri.univalle.edu.co/">Dirección de Relaciones Internacionales</a><a class="text-white" href="http://programaeditorial.univalle.edu.co/">Programa Editorial</a></div>
                <div
                    class="col-auto d-flex flex-column">
                    <p class="linkListTittle">Internacionalización</p><a class="text-white" href="http://www.univalle.edu.co">Convocatorias</a><a class="text-white" href="http://www.univalle.edu.co">Estudia en Univalle</a><a class="text-white" href="http://www.univalle.edu.co">Estudia en el exterior</a>
                    <a
                        class="text-white" href="http://www.univalle.edu.co">Convenios Internacionales</a><a class="text-white" href="http://www.univalle.edu.co">Investiga en Univalle</a><a class="text-white" href="http://www.univalle.edu.co">Solicitudes/Trámites</a><a class="text-white" href="http://www.univalle.edu.co">About Univalle</a>
                        <a
                            class="text-white" href="http://www.univalle.edu.co">Contatos</a>
            </div>
            <div class="col-auto d-flex flex-column">
                <p class="linkListTittle">Publicaciones</p><a class="text-white" href="http://programaeditorial.univalle.edu.co/">Libros</a><a class="text-white" href="http://mafalda.univalle.edu.co/publicaciones/revistas.html">Revistas y boletines</a><a class="text-white" href="http://mafalda.univalle.edu.co/publicaciones/otraspublicaciones.html">Otras publicaciones</a>
                <a
                    class="text-white" href="http://www.univalle.edu.co/2014-03-31-13-55-29/periodico-campus">Periódico campus</a>
            </div>
        </div>
        </div>
        </div>
        <div id="copyright">
            <p class="text-center" style="padding:0;margin:0;">Copyright 2015&nbsp;<a href="http://www.univalle.edu.co/">Universidad del Valle</a>&nbsp;-&nbsp;<a href="http://www.univalle.edu.co/index.php/la-universidad/horarios-de-atencion">Horarios de atención</a>&nbsp;/ Última Actualización: 15-05-2018<br></p>
        </div>
    </section> -->
</div>