<div ng-controller="TechnologyFormController as controller" class="container-fluid">
    <!-- Estado de tecnología -->
    <div class="row" style="margin-top: 15px">
        <div class="col-md-10"><h2>{{controller.answers['basic'][0].name}}</h2></div>
        <div class="col-md-2"><div class="float-right">
            <span class="badge" style="margin-top: 20px; font-size: 12pt; padding: 5pt; background-color: #D51B23; color: white; font-weight: normal"> Estado: {{controller.technologyStatus}}</span>
        </div></div>
    </div>
    <!-- Formatos de tecnología -->
    <div class="message">
        <div class="row">
            <div class="col-md-6">
                <h3>Formato Tecnología</h3>
            </div>
            <div class="col-md-6">
                <div class="float-rigth">
                    <md-menu ng-show="userRole != 'researcher'" class="float-right">
                        <md-button aria-label="menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                            <md-icon md-menu-origin md-svg-icon="img/icons/more.svg"></md-icon>
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button ng-click="controller.showShareDialog()">Compartir</md-button>
                            </md-menu-item>
                            <md-menu-item ng-show="context.showReturn">
                                <md-button ng-click="controller.return()">Return</md-button>
                            </md-menu-item>
                            <md-menu-item ng-show="context.showAssign">
                                <md-button ng-click="controller.showAssignDialog()">asignar</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-button ng-repeat="status in controller.allowedStatus" class="md-raised md-primary float-right" aria-label="Guardar" ng-click="controller.changeStatus(status)" style="text-align:left">
                        {{status}}
                    </md-button>
                    <!--md-button ng-hide="controller.showCreate" class="md-raised float-right" aria-label="Cancelar" ng-click="controller.back()" style="text-align:left">
                        Cancelar
                    </md-button-->
                </div>
            </div>
            <!-- <div class="col-md-1">
                <md-menu ng-show="userRole != 'researcher'">
                    <md-button aria-label="menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                        <md-icon md-menu-origin md-svg-icon="img/icons/more.svg"></md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button ng-click="controller.showShareDialog()">Compartir</md-button>
                        </md-menu-item>
                        <md-menu-item ng-show="context.showReturn">
                            <md-button ng-click="controller.return()">Return</md-button>
                        </md-menu-item>
                        <md-menu-item ng-show="context.showAssign">
                            <md-button ng-click="controller.showAssignDialog()">asignar</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div> -->
        </div>
        <md-nav-bar md-selected-nav-item="controller.currentNavItem"
                    nav-bar-aria-label="navigation links">
            <md-nav-item ng-repeat="format in controller.formats" md-nav-click="goto(format.name)" name="{{format.name}}" ng-show="format.showTab">
                {{format.name}}
            </md-nav-item>
        </md-nav-bar>
        

        <div class="ext-content">
            <form name="{{controller.formatObjects[controller.currentNavItem].formName}}">
                <div ng-repeat="(groupKey, questionGroup) in controller.formatObjects[controller.currentNavItem].questionGroups">
                    <h3 style="margin-top: 25px; text-decoration: underline">{{questionGroup.tag}}:</h3>
                        <div ng-repeat="(answerKey, answer) in controller.answers[questionGroup.name]">
                            <md-content layout-padding style="margin-top: 25px">
                                <div>
                                <div class="form-group" ng-repeat="question in questionGroup.questions">
                                    <div ng-switch on="question.type">
                                            <!-- <label>{{question.tag}}</label> -->
                                            <!-- <span angular-popover direction="right" template="{{question.help}}" style="position: relative; cursor: pointer">
                                                <b> <img src="img/help.svg" /> </b>
                                            </span> -->
                                        <div ng-switch-when="text">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>{{question.tag}}</label>
                                                <input ng-readonly="controller.formatObjects[controller.currentNavItem].readonly"
                                                     ng-model="answer[question.name]"
                                                     ng-required="question.required"
                                                     class="md-input ng-empty ng-dirty ng-valid-parse ng-invalid ng-invalid-required ng-touched" type="text" name="{{question.name + $index}}">
                                                <div ng-messages="$eval(controller.formatObjects[controller.currentNavItem].formName + '[\'' + question.name + $index + '\'].$error')">
                                                    <div ng-message="required">Se requiere de este campo para continuar.</div>
                                                </div>
                                            </md-input-container>
                                           <!--  <input ng-readonly="controller.formatObjects[controller.currentNavItem].readonly" 
                                                   ng-model="answer[question.name]" 
                                                   ng-required="controller.formatObjects[controller.currentNavItem].required" 
                                                   class="form-control" type="text" placeholder="{{question.tag}}"> -->
                                        </div>
                                        <div ng-switch-when="email">
                                            <md-input-container class="md-block">
                                                <label>{{question.tag}}</label>
                                                <input ng-model="answer[question.name]"
                                                   ng-readonly="controller.formatObjects[controller.currentNavItem].readonly"
                                                   ng-require="question.required" 
                                                   type="email" name="{{question.name}}">
                                                   <div ng-messages="$eval(questionGroup.name + '.' + question.name + '.$error')">
                                                       <div ng-message="required">Se requiere de este campo para continuar.</div>
                                                   </div>
                                            </md-input-container>
                                            <!-- <input ng-model="answer[question.name]"
                                                   ng-readonly="controller.formatObjects[controller.currentNavItem].readonly" 
                                                   class="form-control" type="text" placeholder="{{question.tag}}"> -->
                                        </div>
                                        <div ng-switch-when="checkbox">
                                            <label>{{question.tag}}</label>
                                            <div class="alert alert-info" role="alert">{{question.relatedText}}</div>
                                            <md-input-container class="md-block">
                                                <md-checkbox ng-model="answer[question.name]"
                                                             ng-readonly="controller.formatObjects[controller.currentNavItem].readonly"ng-required="question.required" 
                                                             type="checkbox" name="{{question.name}}">
                                                    Acepto {{question.tag | lowercase}}
                                                </md-checkbox>
                                                <div ng-messages="$eval(questionGroup.name + '[\'' + question.name + '\'].$error')" multiple md-auto-hide="false">
                                                    <div ng-message="required">Se debe aceptar {{question.tag | lowercase}} para continuar.</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div ng-switch-when="select">
                                            <select ng-model="answer[question.name]"
                                                    ng-readonly="controller.formatObjects[controller.currentNavItem].readonly" 
                                                    class="form-control">
                                                <option ng-repeat="option in question.options" >{{option}}</option>
                                            </select>
                                        </div>
                                        <div ng-switch-when="date">
                                            <md-datepicker ng-model="answer[question.name]"
                                                           ng-readonly="controller.formatObjects[controller.currentNavItem].readonly" 
                                                           md-placeholder="Enter date"></md-datepicker>
                                        </div>
                                        <div ng-switch-when="reference">
                                            <md-input-container class="md-block" flex-gt-sm style="margin-bottom: 30px">
                                                <label>{{question.tag}}</label>
                                                <md-select  name="{{question.name}}"
                                                            ng-model="answer[question.name]"
                                                            ng-readonly="controller.formatObjects[controller.currentNavItem].readonly"
                                                            ng-required="question.required">
                                                    <md-option ng-repeat="pair in controller.references[question.reference]" value="{{pair.value}}">
                                                        {{pair.key}}
                                                    </md-option>
                                                </md-select>
                                                <div ng-messages="$eval(questionGroup.name + '[\'' + question.name + '\'].$error')">
                                                    <div ng-message="required">Se requiere de este campo para continuar.</div>
                                                </div>
                                            </md-input-container>
                                            <!-- <select ng-model="answer[question.name]"
                                                    ng-readonly="controller.formatObjects[controller.currentNavItem].readonly" 
                                                    class="form-control">
                                                <option ng-repeat="pair in controller.references[question.reference]" value="{{pair.value}}" >{{pair.key}}</option>
                                            </select> -->
                                        </div>
                                        <div ng-switch-when="long-text">
                                            <md-input-container class="md-block">
                                              <label>{{question.tag}}</label>
                                              <textarea ng-model="answer[question.name]" 
                                                        rows="3" 
                                                        md-select-on-focus
                                                        ng-readonly="controller.formatObjects[controller.currentNavItem].readonly"
                                                        >
                                              </textarea>
                                            </md-input-container>
                                           <!--  <textarea ng-model="answer[question.name]"
                                                      ng-readonly="controller.formatObjects[controller.currentNavItem].readonly"
                                                      ng-keyup="resizeTextArea($event)" 
                                                      ng-keydown="resizeTextArea($event)"
                                                      class="form-control">
                                            </textarea> -->
                                        </div>
                                        <div ng-switch-when="tags">
                                            <md-chips ng-model="answer[question.name]" name="question.name" md-removable="true">
                                            </md-chips>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <md-button ng-show="questionGroup.type == 'array' && answerKey != 0" class="md-raised md-primary float-rigth" ng-show="questionGroup.type == 'array'" aria-label="add" ng-click="controller.removeAnswers(questionGroup.name, answerKey)" style="text-align:left">
                                        <md-icon md-svg-icon="img/icons/remove.svg"></md-icon> Quitar {{questionGroup.tag}}
                                    </md-button>
                                </div>
                            </div>
                            <!-- <md-divider ng-if="!$last"></md-divider> -->
                        </md-content>
                    </div>
                    <div>
                        <md-button class="md-raised md-primary" ng-show="questionGroup.type == 'array'" aria-label="add" ng-click="controller.addAnswers(questionGroup.name)" style="text-align:left margin-top:10px">
                            <md-icon md-svg-icon="img/icons/add.svg"></md-icon> Adicionar {{questionGroup.tag}}
                        </md-button>
                    </div>
                </div>
                <!-- Botones -->
                <div style="text-align: center">
                    <md-button ng-show="controller.showCreate" class="md-raised md-primary float-right" aria-label="Guardar" ng-click="controller.create()" style="text-align:left">
                         <md-icon md-svg-icon="img/icons/save.svg"></md-icon>Guardar y enviar
                    </md-button>
                    
                    <md-button ng-hide="controller.showCreate" class="md-raised md-primary float-right" aria-label="Guardar" type="submit"ng-click="$eval(controller.formatObjects[controller.currentNavItem].formName).$valid && controller.save()" style="text-align:left">
                        <md-icon md-svg-icon="img/icons/save.svg"></md-icon> Guardar y continuar
                    </md-button>

                    <!-- <md-button ng-hide="controller.showCreate" class="md-raised md-primary float-right" aria-label="Guardar" style="text-align:left" type="submit">
                        <md-icon md-svg-icon="img/icons/save.svg"></md-icon> Guardar y continuar
                    </md-button> -->
                    <md-button ng-show="controller.showRegister" class="md-raised md-primary float-right" aria-label="Guardar" ng-click="controller.register()" style="text-align:left">
                         Registrar
                    </md-button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <!-- Archivos adjuntos -->
    <div class="message">
        <div>
            <label>Documentos</label>
            <div ng-repeat="document in controller.answers.documents">
                <a href="{{document.url}}">{{document.name}}</a>
            </div>
            <form ng-submit="controller.uploadFile()">
                <select ng-model="controller.fileCategory" class="form-control">
                    <option value="brochure">Brochure</option>
                    <option value="other">Otro</option>
                </select>
                <input type="file" name="file" class="inputimg" id="document">
                <br />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-block">Adjuntar documento</button>
                </span>
            </form>
        </div>
    </div>
</div>