<div ng-controller="TechnologyFormController as controller" class="container-fluid" style="width: 90%">
    <!-- Estado de tecnología -->
    <div class="row" style="margin-top: 15px" ng-cloak>
        <div class="col-md-10"><h4 ng-if="controller.answers['basic'][0].name">Título de tu tecnología: <u>{{controller.answers['basic'][0].name}}</u></h4></div>
        <div class="col-md-2"><div class="float-right">
            <span class="badge" style="margin-top: 20px; font-size: 12pt; padding: 5pt; background-color: #D51B23; color: white; font-weight: normal"> Estado: {{controller.technologyStatus}}</span>
        </div></div>
    </div>
    <!-- Formatos de tecnología -->
    <div class="message" ng-cloak>
        <div class="row">
            <div class="col-md-6">
                <h3>Formato Tecnología</h3>
            </div>
            <div class="col-md-6">
                <div class="float-rigth">
                    <md-menu class="float-right" ng-show="userRoles.length > 1">
                        <md-button aria-label="menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                            <md-icon md-menu-origin md-svg-icon="img/icons/more.svg"></md-icon>
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item ng-show="controller.showReturn">
                                <md-button ng-click="controller.return()">Retornar a investigador</md-button>
                            </md-menu-item>
                            <md-menu-item ng-show="controller.showAssign">
                                <md-button ng-click="controller.showAssignDialog()">Asignar a personal OTRI</md-button>
                            </md-menu-item>
                            <!-- <md-menu-item>
                                <md-button ng-click="controller.showShareDialog()">Compartir esta tecnología</md-button>
                            </md-menu-item> -->
                        </md-menu-content>
                    </md-menu>
                    <!-- <md-button ng-repeat="status in controller.allowedStatus" class="md-raised md-primary float-right" aria-label="Guardar" ng-click="controller.changeStatus(status)" style="text-align:left">
                        {{status}}
                    </md-button> -->
                    <!--md-button ng-hide="controller.showCreate" class="md-raised float-right" aria-label="Cancelar" ng-click="controller.back()" style="text-align:left">
                        Cancelar
                    </md-button-->
                </div>
            </div>
            <!-- <div class="col-md-1">
                <md-menu ng-show="userRole != 'researcher'">
                    <md-button aria-label="menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                        <md-icon md-menu-origin md-svg-icon="img/icons/more.svg"></md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button ng-click="controller.showShareDialog()">Compartir</md-button>
                        </md-menu-item>
                        <md-menu-item ng-show="context.showReturn">
                            <md-button ng-click="controller.return()">Return</md-button>
                        </md-menu-item>
                        <md-menu-item ng-show="context.showAssign">
                            <md-button ng-click="controller.showAssignDialog()">asignar</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div> -->
        </div>
        <md-nav-bar md-selected-nav-item="controller.currentNavItem"
                    nav-bar-aria-label="navigation links">
            <md-nav-item ng-repeat="format in controller.formats" md-nav-click="goto(format.name)" name="{{format.name}}" ng-show="format.showTab">
                {{format.name}}
            </md-nav-item>
        </md-nav-bar>
        
        <div class="ext-content">
            <form name="{{controller.formatObjects[controller.currentNavItem].formName}}">
                <div ng-repeat="(groupKey, questionGroup) in controller.formatObjects[controller.currentNavItem].questionGroups">
                    <h3 style="margin-top: 25px; text-decoration: underline">{{questionGroup.tag}}:</h3>
                    <div ng-repeat="(answerKey, answer) in controller.answers[questionGroup.name]" class="formgroup">
                        <md-content layout-padding style="margin-top: 25px; border-radius:10px">
                            <div class="row" style="width: 100%">
                                <div class="form-group {{question.size || 'col-md-12'}}" ng-repeat="question in questionGroup.questions">
                                    <div ng-switch on="question.type">
                                        <div ng-switch-when="text">
                                            <div ng-if="question.prerequisite">
                                                <md-input-container class="md-block" flex-gt-sm ng-show="answer[question.prerequisite.fieldName] != undefined && answer[question.prerequisite.fieldName].toString().toLowerCase() == '{{question.prerequisite.value.toString() | lowercase}}'">
                                                    <label>{{question.tag}}</label>
                                                    <input  ng-readonly="controller.formatObjects[controller.currentNavItem].readonly"
                                                            ng-model="answer[question.name]"
                                                            ng-required="question.required"
                                                            class="md-input ng-empty ng-dirty ng-valid-parse ng-invalid ng-invalid-required ng-touched" type="text" name="{{question.name + groupKey}}">
                                                    <md-icon ng-if="question.hint"><img src="img/help.png" style="width:140%" /></md-icon>
                                                    <div ng-messages="$eval(controller.formatObjects[controller.currentNavItem].formName + '[\'' + question.name + groupKey + '\'].$error')">
                                                        <div ng-message="required">Se requiere de este campo para continuar.</div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                            <div ng-if="!question.prerequisite">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>{{question.tag}}</label>
                                                    <input ng-readonly="controller.formatObjects[controller.currentNavItem].readonly"
                                                            ng-model="answer[question.name]"
                                                            ng-required="question.required"
                                                            class="md-input ng-empty ng-dirty ng-valid-parse ng-invalid ng-invalid-required ng-touched" type="text" name="{{question.name + groupKey}}">
                                                    <md-icon ng-if="question.hint"><img src="img/help.png" style="width:140%" /></md-icon>
                                                    <div ng-messages="$eval(controller.formatObjects[controller.currentNavItem].formName + '[\'' + question.name + groupKey + '\'].$error')">
                                                        <div ng-message="required">Se requiere de este campo para continuar.</div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div ng-switch-when="email">
                                            <md-input-container class="md-block">
                                                <label>{{question.tag}}</label>
                                                <input ng-model="answer[question.name]"
                                                        ng-required="question.required"
                                                        ng-readonly="controller.formatObjects[controller.currentNavItem].readonly"
                                                        type="email" name="{{question.name + groupKey}}">
                                                <md-icon ng-if="question.hint"><img src="img/help.png" style="width:140%" /></md-icon>
                                                <div ng-messages="$eval(controller.formatObjects[controller.currentNavItem].formName + '[\'' + question.name + groupKey + '\'].$error')">
                                                    <div ng-message="required">Se requiere de este campo para continuar.</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div ng-switch-when="checkbox">
                                            <label ng-if="question.relatedText">{{question.tag}}</label>
                                            <div class="alert alert-info" role="alert" ng-if="question.relatedText">{{question.relatedText}}</div>
                                            <md-input-container class="md-block">
                                                <md-checkbox ng-model="answer[question.name]"
                                                        ng-readonly="controller.formatObjects[controller.currentNavItem].readonly" 
                                                        ng-required="question.required" 
                                                        type="checkbox" name="{{question.name + groupKey}}">
                                                    <div ng-if="question.relatedText"> Acepto {{question.tag | lowercase}} </div> 
                                                    <div ng-if="!question.relatedText"> {{question.tag}} </div> 
                                                </md-checkbox>
                                                <md-icon ng-if="question.hint"><img src="img/help.png" style="width:140%" /></md-icon>
                                                <div ng-messages="$eval(controller.formatObjects[controller.currentNavItem].formName + '[\'' + question.name + groupKey + '\'].$error')" multiple md-auto-hide="false">
                                                    <div ng-message="required">Se debe aceptar {{question.tag | lowercase}} para continuar.</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div ng-switch-when="select">
                                            <div ng-if="question.prerequisite">
                                                <md-input-container class="md-block" flex-gt-sm style="margin-bottom: 30px" ng-show="answer[question.prerequisite.fieldName] != undefined && answer[question.prerequisite.fieldName].toString().toLowerCase() == '{{question.prerequisite.value.toString() | lowercase}}'">
                                                    <label>{{question.tag}}</label>
                                                    <md-select  name="{{question.name + groupKey}}"
                                                        ng-model="answer[question.name]"
                                                        ng-readonly="controller.formatObjects[controller.currentNavItem].readonly"
                                                        ng-required="question.required">
                                                        <md-option ng-repeat="option in question.options" value="{{option}}">
                                                            {{option}}
                                                        </md-option>
                                                    </md-select>
                                                    <md-icon ng-if="question.hint"><img src="img/help.png" style="width:140%" /></md-icon>
                                                    <div ng-messages="$eval(controller.formatObjects[controller.currentNavItem].formName + '[\'' + question.name + groupKey + '\'].$error')">
                                                        <div ng-message="required">Se requiere de este campo para continuar.</div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                            <div ng-if="!question.prerequisite">
                                                <md-input-container class="md-block" flex-gt-sm style="margin-bottom: 30px">
                                                    <label>{{question.tag}}</label>
                                                    <md-select  name="{{question.name + groupKey}}"
                                                        ng-model="answer[question.name]"
                                                        ng-readonly="controller.formatObjects[controller.currentNavItem].readonly"
                                                        ng-required="question.required">
                                                        <md-option ng-repeat="option in question.options" value="{{option}}">
                                                            {{option}}
                                                        </md-option>
                                                    </md-select>
                                                    <md-icon ng-if="question.hint"><img src="img/help.png" style="width:140%" /></md-icon>
                                                    <div ng-messages="$eval(controller.formatObjects[controller.currentNavItem].formName + '[\'' + question.name + groupKey + '\'].$error')">
                                                        <div ng-message="required">Se requiere de este campo para continuar.</div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div ng-switch-when="date">
                                            <label>{{question.tag}}</label>
                                            <md-datepicker name="{{question.name + groupKey}}"
                                                ng-model="answer[question.name]"
                                                ng-readonly="controller.formatObjects[controller.currentNavItem].readonly" 
                                                ng-required="question.required">
                                            </md-datepicker>
                                            <md-icon ng-if="question.hint"><img src="img/help.png" style="width:140%" /></md-icon>
                                            <div ng-messages="$eval(controller.formatObjects[controller.currentNavItem].formName + '[\'' + question.name + groupKey + '\'].$error')">
                                                <div ng-message="required">Se requiere de este campo para continuar.</div>
                                            </div>
                                        </div>
                                        <div ng-switch-when="reference">
                                            <md-input-container class="md-block" flex-gt-sm style="margin-bottom: 30px">
                                                <label>{{question.tag}}</label>
                                                <md-select  name="{{question.name + groupKey}}"
                                                        ng-model="answer[question.name]"
                                                        ng-readonly="controller.formatObjects[controller.currentNavItem].readonly"
                                                        ng-required="question.required">
                                                    <md-option ng-repeat="pair in controller.references[question.reference]" value="{{pair.value}}">
                                                        {{pair.key}}
                                                    </md-option>
                                                </md-select>
                                                <md-icon ng-if="question.hint"><img src="img/help.png" style="width:140%" /></md-icon>
                                                <div ng-messages="$eval(controller.formatObjects[controller.currentNavItem].formName + '[\'' + question.name + groupKey + '\'].$error')">
                                                    <div ng-message="required">Se requiere de este campo para continuar.</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div ng-switch-when="long-text">
                                            <div ng-if="question.prerequisite">
                                                <md-input-container class="md-block" flex-gt-sm ng-show="answer[question.prerequisite.fieldName] != undefined && answer[question.prerequisite.fieldName].toString().toLowerCase() == '{{question.prerequisite.value.toString() | lowercase}}'" style="margin-bottom: 15px">
                                                    <label>{{question.tag}}</label>
                                                    <textarea name="{{question.name + groupKey}}"
                                                      ng-model="answer[question.name]" 
                                                      rows="3" 
                                                      md-select-on-focus
                                                      ng-readonly="controller.formatObjects[controller.currentNavItem].readonly"
                                                      ng-required="question.required">
                                                    </textarea>
                                                    <md-icon ng-if="question.hint"><img src="img/help.png" style="width:140%" /></md-icon>
                                                    <div ng-messages="$eval(controller.formatObjects[controller.currentNavItem].formName + '[\'' + question.name + groupKey + '\'].$error')">
                                                        <div ng-message="required">Se requiere de este campo para continuar.</div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                            <div ng-if="!question.prerequisite">
                                                <md-input-container class="md-block" style="margin-bottom: 15px">
                                                    <label>{{question.tag}}</label>
                                                    <textarea name="{{question.name + groupKey}}"
                                                      ng-model="answer[question.name]" 
                                                      rows="3" 
                                                      md-select-on-focus
                                                      ng-readonly="controller.formatObjects[controller.currentNavItem].readonly"
                                                      ng-required="question.required">
                                                    </textarea>
                                                    <md-icon ng-if="question.hint"><img src="img/help.png" style="width:140%" /></md-icon>
                                                    <div ng-messages="$eval(controller.formatObjects[controller.currentNavItem].formName + '[\'' + question.name + groupKey + '\'].$error')">
                                                        <div ng-message="required">Se requiere de este campo para continuar.</div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div ng-switch-when="tags" style="margin-bottom: 30px">
                                            <div ng-if="question.prerequisite">
                                                <label ng-if="question.message" style="color: #75797d; opacity: 0.65;" ng-show="answer[question.prerequisite.fieldName] != undefined && answer[question.prerequisite.fieldName].toString().toLowerCase() == '{{question.prerequisite.value.toString() | lowercase}}'">
                                                    {{question.message}}
                                                </label> 
                                                <span ng-if="question.hint" class="float-right" angular-popover direction="left" template="{{question.hint}}" style="position: relative; cursor: pointer; margin-top: 2%; margin-bottom: 2%; color: #75797d; font-size: 14px;" ng-show="answer[question.prerequisite.fieldName] != undefined && answer[question.prerequisite.fieldName].toString().toLowerCase() == '{{question.prerequisite.value.toString() | lowercase}}'">
                                                    <md-icon ng-if="question.hint" class="float-right">
                                                        <img src="img/help.png" style="width:140%" />
                                                    </md-icon>
                                                </span>
                                                <md-chips ng-model="answer[question.name]" name="{{question.name + groupKey}}" placeholder="Adiciona {{question.tag | lowercase}}" style="margin-bottom: 30px" ng-show="answer[question.prerequisite.fieldName] != undefined && answer[question.prerequisite.fieldName].toString().toLowerCase() == '{{question.prerequisite.value.toString() | lowercase}}'">
                                                </md-chips>
                                            </div>
                                            <div ng-if="!question.prerequisite">
                                                <label ng-if="question.message" style="color: #75797d; opacity: 0.65;">
                                                    {{question.message}}
                                                </label> 
                                                <span ng-if="question.hint" class="float-right" angular-popover direction="left" template="{{question.hint}}" style="position: relative; cursor: pointer; margin-top: 2%; margin-bottom: 2%; color: #75797d; font-size: 14px;">
                                                    <md-icon class="float-right">
                                                        <img src="img/help.png" style="width:140%" />
                                                    </md-icon>
                                                </span>
                                                <md-chips ng-model="answer[question.name]" name="{{question.name + groupKey}}" placeholder="Adiciona {{question.tag | lowercase}}" style="margin-bottom: 30px">
                                                </md-chips>
                                            </div>
                                        </div>
                                        <div ng-switch-when="number">
                                            <md-input-container class="md-block">
                                                <label>{{question.tag}}</label>
                                                <input name="{{question.name + groupKey}}"
                                                    ng-model="answer[question.name]"
                                                    ng-readonly="controller.formatObjects[controller.currentNavItem].readonly"
                                                    ng-required="question.required"
                                                    type="number" step="any"
                                                    min="{{question.min}}" max="{{question.max}}">
                                                <md-icon ng-if="question.icon" style="font-size: 16px">{{question.icon}}</md-icon>
                                                <md-icon ng-if="question.hint"><img src="img/help.png" style="width:140%" /></md-icon>
                                                <div ng-messages="$eval(controller.formatObjects[controller.currentNavItem].formName + '[\'' + question.name + groupKey + '\'].$error')" multiple md-auto-hide="false">
                                                    <div ng-message="required">Se requiere de este campo para continuar.</div>
                                                    <div ng-message="min">El valor mínimo permitido es de {{question.min}}.</div>
                                                    <div ng-message="max">El valor máximo permitido es de {{question.max}}.</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>
                                    <!-- Botón quitar -->
                                <div class="col-md-12">
                                    <md-button ng-show="questionGroup.type == 'array' && answerKey != 0" class="md-raised md-primary float-rigth" ng-show="questionGroup.type == 'array'" aria-label="add" ng-click="controller.removeAnswers(questionGroup.name, answerKey)" style="text-align:left">
                                        <md-icon md-svg-icon="img/icons/remove.svg"></md-icon> Quitar {{questionGroup.tag}}
                                    </md-button>
                                </div>
                            </div>
                        </md-content>
                    </div>
                    <!-- Botón adicionar -->
                    <div>
                        <md-button class="md-raised md-primary" ng-show="questionGroup.type == 'array'" aria-label="add" ng-click="controller.addAnswers(questionGroup.name)" style="text-align:left margin-top:10px">
                            <md-icon md-svg-icon="img/icons/add.svg"></md-icon> Adicionar {{questionGroup.tag}}
                        </md-button>
                    </div>
                </div>
                <!-- Botones -->
                <div style="text-align: center">
                    <md-button ng-show="controller.showCreate" class="md-raised md-primary float-right floatButton" aria-label="Guardar" type="submit" ng-click="controller.checker($eval(controller.formatObjects[controller.currentNavItem].formName).$valid) && $eval(controller.formatObjects[controller.currentNavItem].formName).$valid && controller.create()">
                         <md-icon md-svg-icon="img/icons/save.svg"></md-icon>Guardar y continuar
                    </md-button>
                    <md-button ng-show="controller.showRegister && (controller.currentNavItem =='FNI')" class="md-raised md-primary float-right formButton" aria-label="Guardar" type="submit" ng-click="controller.checker($eval(controller.formatObjects[controller.currentNavItem].formName).$valid) && $eval(controller.formatObjects[controller.currentNavItem].formName).$valid && controller.register()">
                        Registrar esta tecnología
                    </md-button>
                    <md-button ng-show="!controller.showCreate && !controller.formatObjects[controller.currentNavItem].readonly" class="md-raised md-primary float-right floatButton" aria-label="Guardar" type="submit" ng-click="controller.checker($eval(controller.formatObjects[controller.currentNavItem].formName).$valid) && $eval(controller.formatObjects[controller.currentNavItem].formName).$valid && controller.save()">
                        <md-icon md-svg-icon="img/icons/save.svg"></md-icon> Guardar cambios
                    </md-button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <!-- Archivos adjuntos -->
    <div class="message" style="margin-top: -15px; margin-bottom: 50px" ng-show="(controller.currentNavItem != 'Información Basica')">
        <div>
            <h3>Documentos adjuntos: </h3>
            <md-content class="layout-padding _md formgroup">
                <h5>Documentos agregados previamente: </h5>
                <div ng-if="controller.answers.documents.length == 0 || !controller.answers.documents" style="color: #75797d;">
                    Esta tecnología no tiene documentos adjuntos
                </div>
                <div ng-if="controller.answers.documents.length && controller.answers.documents.length > 0" style="width: 90%; margin-left: 5%; box-shadow: 1px 1px 8px #cbc7c7; border-radius: 5px">
                    <table datatable="ng" class="row-border hover">
                        <thead>
                            <tr>
                                <th style="text-align: center; color: #75797d; font-size: 14px">Nombre de documento</th>
                                <th style="text-align: center; color: #75797d; font-size: 14px">Tipo</th>
                                <th style="text-align: center; color: #75797d; font-size: 14px">Extensión</th>
                                <th style="text-align: center; color: #75797d; font-size: 14px">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="document in controller.answers.documents" style="color: rgb(105, 105, 107); font-size: 14px; text-align: center">
                                <td>{{document.name}}</td>
                                <td ng-if="!document.fileCategory">Sin tipo</td>
                                <td ng-if="document.fileCategory == 'other'">Otro</td>
                                <td ng-if="document.fileCategory == 'brochure'">Brochure</td>
                                <td ng-if="document.fileCategory == 'article'">Artículo</td>
                                <td ng-if="!document.fileType">Sin extensión</td>
                                <td ng-if="document.fileType">{{document.fileType}}</td>
                                <td>
                                    <a href="{{document.url}}" target="_blank" style="text-decoration: none">
                                        <img src="img/download.png" style="width: 28px; height: 28px; cursor: pointer"/>
                                    </a>
                                    <img ng-if="controller.technologyStatus == 'En diligencia'" src="img/trash.png" style="width: 28px; height: 28px; cursor: pointer" ng-click="controller.deleteFile(document)"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </md-content>
            <form ng-submit="(attachments.$valid) && controller.uploadFile()" name="attachments" style="margin-top: 10px">
                <md-content class="layout-padding _md formgroup">
                    <h5>Adjuntar nuevo documento: </h5>
                    <div style="color: #75797d;">Adjunte aquí todos los documentos que considere necesarios para registrar su tecnología.</div>
                    <div class="row" style="width: 100%">
                        <input type="file" name="file" class="inputimg col-md-6" id="document" ng-required="true" style="margin-top: 18px">
                        <md-input-container class="md-block col-md-6" flex-gt-sm style="margin-left: 13px">
                            <label>Tipo de documento</label>
                            <md-select  ng-model="controller.fileCategory" ng-required="true" name="type">
                                <md-option value="article">Artículo</md-option>
                                <md-option value="brochure">Brochure</md-option>
                                <md-option value="other">Otro</md-option>

                            </md-select>
                            <div ng-messages="attachments.type.$error">
                                <div ng-message="required">Se requiere de este campo para continuar.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <md-button type="submit" class="md-raised md-primary float-right formButton" style="margin: 0; padding: 0px; padding-left: 5px; padding-right: 5px;">
                        Adjuntar documento
                    </md-button>
                </md-content>
            </form>
        </div>
    </div>
</div>