<md-dialog aria-label="UserSelection">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Seleccionar</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
          <div class="container-fluid">
            <div class="row">Seleccione el usuario: </div>
            <div class="row">
                <select ng-model="selectedUser" class="form-control">
                    <option ng-repeat="user in users" >{{user}}</option>
                </select>
            </div>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="onClickShare()">Compartir</md-button>
    </md-dialog-actions>
    </form>
</md-dialog>